body {
   font-family: "Lucida Console", Monaco, monospace;
   background-color: #F7FE2E;
   text-align: center;
}

h1 {
	display: bold;
	font-size: 2em;
	width: 100%;
	margin-top: .5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	display: block;
	font-size: 1.5em;
	margin-top: .67em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 {
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	display: block;
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 340;
}

h4 {
	font-size: 10em;
	margin-top: 0em;
}

p {
	display: block;
   	margin-top: .5em;
   	margin-bottom: 15;
   	margin-left: 175;
   	margin-right: 175;
}

p1 {
	display: block;
   	margin-top: 3em;
   	margin-bottom: 0;
   	margin-left: 0;
   	margin-right: 0;
}

blockquote {
	display: block;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 0;
   	margin-right: 32px;
}

.content-box-gold{
	margin-bottom: 1px;
	margin-left: 300px;
	margin-right: 300px;
	overflow: hidden;
	padding: 2px;
	background-color: #dfd09c;
	border-left: 32px solid #FE2E9A;
	border-right: 17px solid #FE2E9A;
}